<%console.log(menu)%>
<div class="container">
    <div class="logo">
        <div class="logo__wrap">
            <img src="" alt="" class="logo__img">
        </div>
    </div>
    <ul class="menu menu--header">

        <%menu.forEach(link=>{%>
        <li class="menu__li  <%=link.active ? 'active' : ''%>">
            <a href="/<%=link.url%>" class="menu__link">
                <%=link.title%>
            </a>
        </li>
        <%});%>

    </ul>
</div>
