<%console.log(menu)%>
<div class="logo">
    <div class="logo__wrap"><img src="" alt="" class="logo__img"></div>
</div>
<ul class="header__menu menu">

    <%menu.forEach(link=>{%>
        <li class="menu__li">
            <a href="/<%=link.url%>" class="menu__link <%=link.active ? 'active' : ''%>">
                <%=link.title%>
            </a>
        </li>
    <%});%>

</ul>