body, html{
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .footer{
    margin-top: auto;
  }
}

.container{
  max-width: 1199px;
  padding: 10px 20px;
  margin: 0 auto;

  &--withoutPadding{
    padding: 0px;
  }
}

.h3{
  font-size: 22px;
}