body, html{
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .footer{
    margin-top: auto;
  }
}

.container{
  max-width: 1199px;
  padding: 10px 20px;
  margin: 0 auto;

  &--withoutPadding{
    padding: 0px;
  }
}

.h3{
  font-size: 22px;
}

.hidden {
  display: none;
}


.svg{
  width: 40px;
  height: 40px;

  .colored{
    fill: #fff;
  }


  &--to-top{
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    width: 70px;
    height: 70px;
    .colored{
      fill-rule: evenodd;
      fill: rgba(0,0,0,0.2);
      transition: fill 0.2s ease-in;
    }

    &:hover{
      cursor: pointer;
      .colored{
        fill: $playerActions;
      }
    }
  }

  &--star{
    height: 25px;
    width: 25px;

    .colored{
      fill: $red;
    }
  }

  &--play{
    width: 60px;
    height: 60px;

    .colored{
      fill: $playerActions;
    }
  }
}