.menu{
  $this: &;
  display: flex;
  margin: 0;
  padding: 0;

  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }

  &__li{
    display: block;
    list-style: none;
  }


  &--header{
    justify-content: space-around;

    #{$this}__li{
      display: block;
      width: 20%;
      color: #000;
      transition: opacity 0.3s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
      border-bottom: 1px solid #000;

      &.active{
        color: #b71c1c;
        border-bottom-color: #b71c1c;
      }

      &:hover{
        opacity: 0.5;
        color: #b71c1c;
        border-bottom-color: #b71c1c;
      }
    }

    #{$this}__link{
      display: block;
      color: inherit;
      padding: 30px 20px;
      text-align: center;
    }
  }
}