<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/build/css/main.css' />
</head>
<body>
<header class="header">
    <%-partial('./components/header/header', {menu: data.layout.menu})%>
</header>
<%console.log(data)%>
    <%-body -%>
<footer class="footer">
    <%-partial('./components/footer/footer', {footer: data.layout.footer})%>
</footer>
</body>
</html>