<div class="modal">
    <div class="modal__backdrop">
        <div class="modal__content">
            <div class="modal__header">
                <%=`${track.authors} - ${track.title}`%>
            </div>
            <div class="modal__text"></div>
                <%=track.text%>
        </div>
    </div>
</div>